* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: grid;
    height: 100vh;
    grid-template-rows: 10% 80% 10%;
}
.welcome {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-row: 2 / 3;
    align-items: center;
    text-align: center;
}
.card-welcome {
    grid-column: 2 / 3;
}